In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
dataset=pd.read_csv('train.csv')

In [ ]:
dataset.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
training_sentences=[]
training_label=[]
for i in dataset['tweet']:
  training_sentences.append(i)
for j in dataset['label']:
  training_label.append(j)
training_label_final=np.array(training_label)

In [ ]:
print(training_sentences[0:5])

[' @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run', "@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked", '  bihday your majesty', '#model   i love u take with u all the time in urð\x9f\x93±!!! ð\x9f\x98\x99ð\x9f\x98\x8eð\x9f\x91\x84ð\x9f\x91\x85ð\x9f\x92¦ð\x9f\x92¦ð\x9f\x92¦  ', ' factsguide: society now    #motivation']

In [ ]:
print(training_label[0:5])

In [ ]:
vocab_size=10000
embedding_dim=16
max_length=120
trunc_type='post'
oov_tok="<oov>"

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
tokenizer=Tokenizer(num_words=vocab_size,oov_token=oov_tok)
tokenizer.fit_on_texts(training_sentences)

In [ ]:
word_index=tokenizer.word_index

In [ ]:
sequences=tokenizer.texts_to_sequences(training_sentences)

In [ ]:
padded = pad_sequences(sequences,maxlen=max_length, truncating=trunc_type)

In [ ]:

model = tf.keras.Sequential([
    tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(6, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 120, 16)           160000
_________________________________________________________________
flatten (Flatten)            (None, 1920)              0
_________________________________________________________________
dense (Dense)                (None, 6)                 11526
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 7
=================================================================
Total params: 171,533
Trainable params: 171,533
Non-trainable params: 0
_________________________________________________________________

In [ ]:
num_epochs = 10
model.fit(padded, training_label_final, epochs=num_epochs)

Epoch 1/10
999/999 [==============================] - 8s 7ms/step - loss: 0.1842 - accuracy: 0.9387
Epoch 2/10
999/999 [==============================] - 6s 6ms/step - loss: 0.0952 - accuracy: 0.9695
Epoch 3/10
999/999 [==============================] - 6s 6ms/step - loss: 0.0576 - accuracy: 0.9828
Epoch 4/10
999/999 [==============================] - 6s 6ms/step - loss: 0.0290 - accuracy: 0.9909
Epoch 5/10
999/999 [==============================] - 6s 6ms/step - loss: 0.0153 - accuracy: 0.9958
Epoch 6/10
999/999 [==============================] - 6s 6ms/step - loss: 0.0088 - accuracy: 0.9978
Epoch 7/10
999/999 [==============================] - 6s 6ms/step - loss: 0.0055 - accuracy: 0.9985
Epoch 8/10
999/999 [==============================] - 7s 7ms/step - loss: 0.0034 - accuracy: 0.9992
Epoch 9/10
999/999 [==============================] - 7s 7ms/step - loss: 0.0024 - accuracy: 0.9994
Epoch 10/10
999/999 [==============================] - 6s 6ms/step - loss: 0.0015 - accuracy: 0.9997

In [ ]:
sentence=['i hate you']

In [ ]:
tokenizer.fit_on_texts(sentence)
sequences=tokenizer.texts_to_sequences(sentence)
padded = pad_sequences(sequences,maxlen=max_length, truncating=trunc_type)

In [ ]:
model.predict(padded)

array([[4.061001e-05]], dtype=float32)